$black: #121212;
$dark-gray: #333333;
$mid-gray: #666666;
$gray: #888888;
$light-gray: #cccccc;
$bg-gray: #f4f4f4;
$white: #ffffff;

:export {
  black: $black;
  darkGray: $dark-gray;
  midGray: $mid-gray;
  gray: $gray;
  lightGray: $light-gray;
  bgGray: $bg-gray;
  white: $white;
}
